<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item><span class="label">Login</span> </a>
      <a mat-list-item (click)="cambiarLenguaje('es')">Es </a>
      <a mat-list-item (click)="cambiarLenguaje('en')">En </a>
      <a mat-list-item> <span class="label">Login</span> </a>
      <a mat-list-item> <span class="label">Login</span> </a>
      <a mat-list-item> <span class="label">Home</span> </a>
      <a mat-list-item> <span class="label">Dashboard</span> </a>

      <a mat-list-item type="button"> <span class="label">LogOut</span> </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs><button mat-icon-button></button></div>
      <div>
        <a routerLink="/admin">
          <img src="/assets/logo3.png" alt="TVC+" width="35%" />
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li *ngIf="!isLogout()">
            <a routerLinkActive="active" routerLink="/auth/login">
              <span class="fa fa-sign-in">Autenticarse</span>
            </a>
          </li>
          <li *ngIf="isLogout()">
            <a routerLinkActive="active" routerLink="/tvshows">
              <span class="fa fa-television">Series de TV</span>
            </a>
          </li>
          <li>
            <a routerLink="/news">
              <span class="fa fa-book">Noticias</span>
            </a>
          </li>
          <li>
            <a (click)="logout()" routerLink="/auth/login" *ngIf="isLogout()">
              <span class="fa fa-sign-out"> Salir</span>
            </a>
          </li>
          <li>
            <a (click)="cambiarLenguaje('es')">
              <span class="fa fa-language"> Es</span>
            </a>
          </li>
          <li>
            <a (click)="cambiarLenguaje('en')">
              <span class="fa fa-language"> En</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main><router-outlet></router-outlet></main>
  </mat-sidenav-content>
</mat-sidenav-container>

<button
  mat-raised-button
  color="primary"
  type="submit"
  [disabled]="!newsForm.valid"
  style="margin-right: 10px;"
  *ngIf="!update"
></button>

<div
  style="background-color: rgb(20, 12, 7)"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly stretch"
  fxLayoutGap="20%"
>
  <button mat-raised-button fxflex="40%" style="background-color: rgb(214, 116, 58)">Aguacate</button>
  <button mat-raised-button fxflex="80%" style="background-color: rgb(128, 47, 226)">Aguacate2</button>
  <button mat-raised-button fxflex="10%" fxFlexAlign="end" style="background-color: rgb(130, 206, 32)">Aguacate3</button>
</div>
