<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/news/lists">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Autenticacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tvshows">Series de TV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tv-shows/details">Series de TV NGRX</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tv-shows/form-store">Crear series de TV NGRX</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<ul>
  <li *ngFor="let item of lista | async">
    {{item}}
  </li>
</ul>


<router-outlet></router-outlet>
