<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/tvshows" *ngIf="isLogout()">Series de TV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login" *ngIf="!isLogout()">Autenticacion</a>
      </li>
    </ul>
    <a class="nav-link float-right" (click)="logout()" [routerLink]="['/auth/login']" *ngIf="isLogout()">Logout</a>
  </div>
</nav>

<div class="row">
  <div class="col-3">
    <mat-nav-list style="padding: 25px;" dense>
      <mat-list-item routerLinkActive="active" style="background-color: lavender">
        <p>Aguacate</p>
      </mat-list-item>
      <mat-list-item >
        <p>Aguacate</p>
      </mat-list-item>
      <mat-list-item >
        <p>Aguacate</p>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>

