<h2 class="text-center">
  {{ "news.form.head" | translate }}
</h2>
<mat-divider></mat-divider>

<form
  class="text-center"
  [formGroup]="newsForm"
  (ngSubmit)="submit()"
  novalidate
>
  <div fxLayout="column wrap">
    <div fxflex="100%">
      <mat-form-field class="example-full-width example-form">
        <input
          matInput
          placeholder="{{ 'news.form.title' | translate }}"
          formControlName="title"
          required
        />
        <mat-error *ngIf="newsForm.controls['title'].hasError('required')">
          Titulo <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxflex="100%">
      <mat-form-field class="example-full-width example-form">
        <textarea
          rows="8"
          matInput
          placeholder="{{ 'news.form.description' | translate }}"
          formControlName="description"
          required
        ></textarea>
        <mat-error
          *ngIf="newsForm.controls['description'].hasError('required')"
        >
          Descripción <strong>requerida</strong>.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxflex="100%">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'news.form.source' | translate }}"
          formControlName="source"
          required
        />
        <mat-error *ngIf="newsForm.controls['source'].hasError('required')">
          Actores <strong>requerido</strong>.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxflex="100%">
      <div
        id="image-news"
        class="fileinput fileinput-new"
        data-provides="fileinput"
      >
        <div
          class="fileinput-preview thumbnail"
          data-trigger="fileinput"
          style="width: 10em; height: 75px"
        ></div>
        <div>
          <span class="btn btn-default btn-file">
            <span class="btn btn-dark fileinput-new">{{
              "news.form.image" | translate
            }}</span>
            <span class="btn btn-info fileinput-exists">{{
              "news.form.changeImage" | translate
            }}</span>
            <input
              id="file-upload-input"
              type="file"
              name="file-upload-input"
            />
          </span>
          <a
            href="#"
            class="btn btn-danger fileinput-exists"
            data-dismiss="fileinput"
            >Remover</a
          >
        </div>
      </div>
      <br />
    </div>
  </div>

  <mat-toolbar class="buttons-toolbar" fxflex="100%">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!newsForm.valid"
      style="margin-right: 10px;"
      *ngIf="!update"
    >
      Crear
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!newsForm.valid"
      style="margin-right: 10px;"
      *ngIf="update"
    >
      Actualizar
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="cleanNewsForm()"
      style="margin-right: 10px;"
    >
      Limpiar
    </button>
    <button mat-raised-button color="warn" (click)="goListNews()">
      Cancelar
    </button>
  </mat-toolbar>
</form>
